{% extends 'base.html' %}

 {% block title %}
About
{% endblock title %}

{% block content %}
<!--  <h1 align="center"> This is about page</h1>-->
<!DOCTYPE html>
<html>
      <head>

       </head>
       <body style="background-color:orange">
             <h1>ABOUT:</h1>
             <p>Welcome to Terracotta:<br>
              Terracotta is renown for its outstanding collections of handmade products.<br>
              In our fashion store,we promote the excellent handcraft products made out in <br>
              several rural parts of Bangladesh. We display the color and joy of the cultural <br>
              of our motherland through our products. We are not limited to only selling <br>
              our goods to the customers rather we also buy their idea in order to support their talents.
       </body>
</html>
  {% endblock content %}